@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  display: grid;
  grid-template-areas: "hero" "about" "education" "experience" "footer";
  grid-template-rows: 60vh 90vh repeat(2, minmax(60vh, fit-content)) 7rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  padding: 2rem 5rem;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 2rem;
}
@media only screen and (max-width: 36em) {
  .navbar {
    padding-inline: 3rem;
    height: 10rem;
  }
}

.hero {
  grid-area: hero;
  background-image: linear-gradient(0deg, #343a40 0%, #17a2b8 100%);
}

.about {
  grid-area: about;
  padding-top: 25rem;
}
@media only screen and (max-width: 36em) {
  .about {
    padding-top: 20rem;
  }
}

.education {
  grid-area: education;
  padding-block: 10rem;
  background-color: #17a2b8;
}
@media only screen and (max-width: 36em) {
  .education {
    padding-bottom: 2rem;
  }
}

.experience {
  grid-area: experience;
}

.footer {
  grid-area: footer;
  background-color: #343a40;
  color: #f8f9fa;
  text-align: center;
  font-size: 2.5rem;
}

.heading-primary,
.heading-tertiary {
  text-transform: uppercase;
}

.heading-primary,
.heading-tertiary,
.heading-secondary {
  font-weight: 700;
}

.heading-primary {
  color: #343a40;
  font-size: 4.5rem;
}

.heading-secondary {
  font-size: 4rem;
  position: relative;
  line-height: 4rem;
}
.heading-secondary__subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #6c757d;
}

.heading-tertiary {
  font-size: 2rem;
}

.sub-heading {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
  padding-inline: 1.5rem;
  max-width: 114rem;
  margin-inline: auto;
}
@media only screen and (max-width: 62em) {
  .container {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 48em) {
  .container {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 36em) {
  .container {
    max-width: 54rem;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.about__header, .about__item, .about__items {
  display: flex;
}
.about__item, .about__items {
  align-items: center;
}
.about__header {
  width: 100%;
  margin-bottom: 10rem;
}
.about__header .heading-secondary {
  flex-basis: 40%;
  position: relative;
  line-height: 4rem;
}
@media only screen and (max-width: 36em) {
  .about__header {
    flex-direction: column;
    padding-inline: 2rem;
    margin-bottom: 0rem;
  }
}
.about__text {
  font-size: 2rem;
  text-align: justify;
  line-height: 1.6;
  color: #6c757d;
  flex-basis: 60%;
}
.about__skills {
  position: relative;
  background-color: #343a40;
  color: #ccc;
  padding: 10rem 2rem 5rem 2rem;
  min-height: 8rem;
  margin-top: 14rem;
}
.about__skills::before {
  content: "My Skills";
  position: absolute;
  top: 4rem;
  left: 14rem;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.about__items {
  list-style: none;
}
@media only screen and (max-width: 36em) {
  .about__items {
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
.about__item {
  flex-basis: 20%;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}
.about__item i {
  font-size: 5rem;
}
.about__item-text {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}
@media only screen and (max-width: 36em) {
  .about__item-text {
    font-size: 1.8rem;
  }
}

.education .container {
  display: flex;
}
@media only screen and (max-width: 36em) {
  .education .container {
    flex-direction: column;
  }
}
.education .heading-secondary {
  flex-basis: 40%;
}
.education .heading-secondary__subheading {
  color: #f8f9fa;
}
.education .heading-tertiary {
  color: #343a40;
}
.education__content {
  font-size: 2rem;
  line-height: 1.6;
  color: #f8f9fa;
  flex-basis: 60%;
}
.education__entry:not(last-child) {
  margin-bottom: 5rem;
}
.education__completion {
  font-size: 1.6rem;
}
.education__achievements {
  list-style: none;
  margin-top: 1rem;
}

.hero__wrapper, .hero__heading, .hero__contacts, .hero__contact, .hero__items, .hero__item {
  display: flex;
}
.hero__contacts, .hero__heading {
  flex-direction: column;
}
.hero__wrapper {
  position: relative;
  gap: 10rem;
  padding: 3rem;
  margin-inline: auto;
  max-width: 114rem;
  background-color: #fff;
  border-radius: 1.2rem;
  bottom: -10rem;
  box-shadow: 0 2rem 8rem 0 rgba(153, 153, 153, 0.3);
}
@media only screen and (max-width: 36em) {
  .hero__wrapper {
    flex-direction: column;
  }
}
.hero__img {
  border-radius: 1rem;
  overflow: hidden;
}
.hero__heading {
  gap: 1.2rem;
}
.hero__contacts {
  margin-top: 3rem;
}
.hero__contact {
  gap: 1.6rem;
  align-items: center;
  color: #6c757d;
}
.hero__contact:not(last-child) {
  margin-bottom: 1.2rem;
}
.hero__contact-detail {
  font-weight: 300;
}
.hero__contact-detail a {
  text-decoration: none;
  color: currentColor;
}
.hero__items {
  list-style: none;
  gap: 2rem;
  margin-top: 4rem;
}
.hero__item {
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
}
.hero__link {
  color: #f8f9fa;
  font-size: 2.5rem;
  transition: all 300ms ease-in-out;
  padding: 1rem;
}
.hero__link:hover {
  background-image: linear-gradient(0deg, #343a40 0%, #17a2b8 100%);
}

.navbar {
  transition: all 300ms linear;
}
.navbar__brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.5rem;
}
@media only screen and (max-width: 36em) {
  .navbar__brand {
    font-size: 1.4rem;
  }
}
.navbar__items {
  display: flex;
  gap: 2rem;
  color: inherit;
  list-style: none;
}
@media only screen and (max-width: 36em) {
  .navbar__items {
    gap: 1rem;
    font-size: 1.6rem;
  }
}
.navbar__link {
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: currentColor;
}

.fixed__nav {
  position: fixed;
  background-color: #343a40;
  padding-inline: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem 5rem;
}
@media only screen and (max-width: 36em) {
  .fixed__nav {
    padding-inline: 2rem;
    width: 100%;
  }
}