@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;

$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$white: #fff;
$light: #f8f9fa;

$gray: #6c757d;
$gray-light: #ccc;
$gray-dark: #343a40;

$breakpoint-xs: 0;
$breakpoint-sm: 36em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 76.25em;

$primary-font: 'Roboto', sans-serif;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
