.about {
  &__header,
  &__item,
  &__items {
    display: flex;
  }

  &__item,
  &__items {
    align-items: center;
  }

  &__header {
    width: 100%;
    margin-bottom: 10rem;

    .heading-secondary {
      flex-basis: 40%;
      position: relative;
      line-height: 4rem;
    }
  }

  &__text {
    font-size: 2rem;
    text-align: justify;
    line-height: 1.6;
    color: $gray;
    flex-basis: 60%;
  }

  &__skills {
    position: relative;
    background-color: $gray-dark;
    color: $gray-light;
    padding: 10rem 2rem 5rem 2rem;
    min-height: 8rem;
    margin-top: 14rem;

    &::before {
      content: 'My Skills';
      position: absolute;
      top: 4rem;
      left: 14rem;
      letter-spacing: 5px;
      font-size: 2rem;
      font-weight: $font-bold;
      font-family: $primary-font;
      text-transform: uppercase;
    }
  }

  &__items {
    list-style: none;
  }

  &__item {
    flex-basis: 20%;
    gap: 1rem;
    flex-direction: column;

    i {
      font-size: 5rem;
    }

    &-text {
      font-size: 2.5rem;
      font-weight: $font-bold;
      letter-spacing: 2px;
    }
  }
}
