.heading-primary,
.heading-tertiary {
  text-transform: uppercase;
}

.heading-primary,
.heading-tertiary,
.heading-secondary {
  font-weight: $font-bold;
}

.heading-primary {
  color: $gray-dark;
  font-size: 4.5rem;
}

.heading-secondary {
  font-size: 4rem;
  position: relative;
  line-height: 4rem;

  &__subheading {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $gray;
  }
}

.heading-tertiary {
  font-size: 2rem;
}

.sub-heading {
  font-weight: $font-regular;
  font-size: 1.8rem;
  text-transform: uppercase;
}
