.container {
  width: 100%;
  padding-inline: 1.5rem;
  max-width: 114rem;
  margin-inline: auto;

  @include respond(tab-land) {
    max-width: 96rem;
  }

  @include respond(tab-port) {
    max-width: 72rem;
  }

  @include respond(mobile) {
    max-width: 54rem;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
